In [1]:
import pandas as pd

url = 'https://drive.google.com/uc?id=1eqFIZCJTkXY-PsTeS-uz_DousIH3XQu-'  
rides = pd.read_csv(url) # –û—Ç–∫—Ä—ã–≤–∞–µ–º rides_info - –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø—Ä–æ –ø–æ–µ–∑–¥–∫–∏
rides.sample(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
534404,r17989452S,l29142213W,m1U,2020-01-27,6.64,48,474,62,122.422641,0,2789.009550,0,-6.416323,2.301
177213,a14198824D,M20404037C,A1i,2020-02-12,4.97,5,75,39,66.000000,1,164.625185,0,9.925237,34.262
467618,s12770196V,h-1179139J,z1f,2020-02-12,5.40,12,152,48,63.000000,0,469.241250,0,-2.830689,-13.926
106550,N19021616c,H16125822e,j1i,2020-02-02,2.90,20,274,39,94.000000,1,434.684334,0,-6.786111,29.794
525562,i21370499e,l-1177682G,Z1H,2020-02-13,4.17,5,94,51,123.044404,0,275.221538,0,0.390967,-7.046

In [3]:
# –û–ø—Ä–µ–¥–µ–ª—è–µ–º lambda —Ñ—É–Ω–∫—Ü–∏—é —Å —Ç–µ—Ä–Ω–∞—Ä–Ω—ã–º –æ–ø–µ—Ä–∞—Ç–æ—Ä–æ–º –≤–Ω—É—Ç—Ä–∏
my_awesome_function = lambda x: 'more_30' if x > 30 else 'no_more_30'

# –ü—Ä–∏–º–µ–Ω—è–µ–º —Ñ—É–Ω–∫—Ü–∏—é –∫ —Å—Ç–æ–ª–±—Ü—É
rides['speed_avg_greater_30'] = rides['speed_avg'].apply(my_awesome_function)

# –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
rides['speed_avg_greater_30'].value_counts()

more_30       699420
no_more_30     40080
Name: speed_avg_greater_30, dtype: int64

–ï—Å–ª–∏ —Ä–µ–π—Ç–∏–Ω–≥ –≤—ã—à–µ 6 –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è —Å–∫–æ—Ä–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ –º–µ–Ω—å—à–µ 120 –∫–º/—á, —Ç–æ —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ (ride_cost) —É–º–µ–Ω—å—à–∏—Ç–µ –Ω–∞ 5%.

–í –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ: —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ (ride_cost) —É–≤–µ–ª–∏—á—å—Ç–µ –Ω–∞ 5%.

In [6]:
def price_making(x):
    if x['rating'] > 6 and x['speed_max'] < 120:
        return x['ride_cost'] * 0.95
    else:
        return x['ride_cost'] * 1.05

df['final_ride_cost'] = df.apply(price_making, axis=1).astype(int)

In [16]:
cols = ["rating", "ride_duration", "ride_cost"]

# –ü—Ä–æ–∏–∑–≤–æ–¥–∏–º –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É
rides_gr = rides.groupby("car_id", as_index=False)[cols].mean()

# –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
rides_gr.head()

       car_id    rating  ride_duration     ride_cost
0  A-1049127W  4.255172    1289.034483  15201.436782
1  A-1079539w  4.088046    2148.810345  27007.477011
2  A-1162143G  4.662299     479.017241   4599.678161
3  A-1228282M  4.225172    2167.534483  27379.522989
4  A-1339912r  4.690115    1436.614943  16185.545977

In [17]:
cols = ["rating", "ride_cost"]

# –ü—Ä–æ–∏–∑–≤–æ–¥–∏–º –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É
rides_info_gr = rides.groupby("car_id", as_index=False)[cols].agg(["count", "mean"])

In [21]:

# –£–±–∏—Ä–∞–µ–º –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å
rides_info_gr.columns = ["_".join(c) for c in rides_info_gr.columns]

# –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã (car_id —Ç–µ–ø–µ—Ä—å –Ω–µ —Å—Ç–æ–ª–±–µ—Ü, –∞ –∏–Ω–¥–µ–∫—Å)
rides_info_gr.head()

            rating_count  rating_mean  ride_cost_count  ride_cost_mean
car_id
A-1049127W           174     4.255172              174    15201.436782
A-1079539w           174     4.088046              174    27007.477011
A-1162143G           174     4.662299              174     4599.678161
A-1228282M           174     4.225172              174    27379.522989
A-1339912r           174     4.690115              174    16185.545977

    –°—Ç–æ–ª–±–µ—Ü feature_1 - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –æ—Å—Ç–∞–Ω–æ–≤–æ–∫ (stop_times).
    –°—Ç–æ–ª–±–µ—Ü feature_2 - –í—Ç–æ—Ä–æ–π –º–∞–∫—Å–∏–º—É–º —Å—Ç–æ–ª–±—Ü–∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π —Å–∫–æ—Ä–æ—Å—Ç–∏ (speed_max).
    –°—Ç–æ–ª–±–µ—Ü feature_3 - –û—Ç–Ω–æ—à–µ–Ω–∏–µ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Ä–µ–π—Ç–∏–Ω–≥–∞.
    –°—Ç–æ–ª–±–µ—Ü feature_4 - –°–∞–º–æ–µ –ø–æ–ø—É–ª—è—Ä–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —á–∏—Å–ª–∞ –æ—Å—Ç–∞–Ω–æ–≤–æ–∫ (–¥—Ä—É–≥–∏–º —Å–ª–æ–≤–∞–º–∏, –º–æ–¥–∞).
    –°—Ç–æ–ª–±–µ—Ü feature_5 - –°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ —Å—Ç–æ–∏–º–æ—Å—Ç–µ–π –ø–æ–µ–∑–¥–æ–∫ (ride_cost).

In [22]:
import numpy as np
result = df.groupby('car_id', as_index=False).agg(
    feature_1 = ('stop_times', 'nunique'),
    feature_2 = ('speed_max', lambda x: x.sort_values().iloc[-2]),
    feature_3 = ('rating', lambda x: x.min() / x.max()),
    feature_4 = ('stop_times', lambda x: x.mode()[0]),
    feature_5 = ('ride_cost', 'std')
)

In [24]:
result.sample(2)

          car_id  feature_1  feature_2  feature_3  feature_4     feature_5
411   F-1561156R         20      116.0   0.010929          0  73810.355588
4026  x-5000537P          4        NaN   0.000000          1  81807.023823

–î–∞—Ç–∞—Å–µ—Ç rides —Å–æ–¥–µ—Ä–∂–∏—Ç —Å—Ç–æ–ª–±—Ü—ã: car_id, ride_id, rating, ride_duration, ride_cost

–î–∞—Ç–∞—Å–µ—Ç cars —Å–æ–¥–µ—Ä–∂–∏—Ç —Å—Ç–æ–ª–±—Ü—ã:car_id, model, riders, target_class

    –û–±–æ–≥–∞—Ç–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç rides –ø—Ä–æ –ø–æ–µ–∑–¥–∫–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –±—É–¥—É—â–µ–º –≤–∏–¥–µ –ø–æ–ª–æ–º–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –¥–∞—Ç–∞—Å–µ—Ç cars. 
    –£–¥–∞–ª–∏—Ç–µ –ª–∏—à–Ω–∏–µ —Å—Ç–æ–ª–±—Ü—ã. –¢–∞–±–ª–∏—Ü—É rides –Ω–∞–¥–æ –¥–æ–ø–æ–ª–Ω–∏—Ç—å –ª–∏—à—å —Å—Ç–æ–ª–±—Ü–æ–º target_class.
    –£–¥–∞–ª–∏—Ç–µ –ø–æ–µ–∑–¥–∫–∏, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –ø—Ä–æ –ø–æ–ª–æ–º–∫–∏.  
    –ó–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é result.

In [25]:
# rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_rides.csv')
cars = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_cars.csv')

In [30]:
rides.merge(cars[['car_id','target_class']], on='car_id', how='inner')

    –û–±–æ–≥–∞—Ç–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç rides –ø—Ä–æ –ø–æ–µ–∑–¥–∫–∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–º–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏ –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –º–µ—Ç–æ–¥–∞ merge.
    –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü car_ride_count - –æ–±—â–µ–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –¥–ª—è —ç—Ç–æ–π –º–∞—à–∏–Ω—ã.
    –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü user_rating_max - –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Ä–µ–π—Ç–∏–Ω–≥, –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π —ç—Ç–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–º.
    –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü user_ride_cost_mean - —Å—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ —ç—Ç–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è.
    –†–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é result.

In [38]:
rides['car_ride_count'] = rides.groupby('car_id')['rating'].transform('count')
rides['user_rating_max'] = rides.groupby('user_id')['rating'].transform('max')
rides['user_ride_cost_mean'] = rides.groupby('user_id')['ride_cost'].transform('mean')

    –û–±–æ–≥–∞—Ç–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç rides –ø—Ä–æ –ø–æ–µ–∑–¥–∫–∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–º–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏ –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –º–µ—Ç–æ–¥–∞ merge.
    ü§ñ –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü feature_1 ‚Äî 75% –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—å —Å—Ç–æ–ª–±—Ü–∞ ride_cost –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (user_id).
    üéÉ –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü feature_2 ‚Äî —Ä–∞–∑–Ω–∏—Ü—É –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è rating, –¥–µ–ª–µ–Ω–Ω—É—é –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ —Å—Ç–æ–ª–±—Ü–∞ rating –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (user_id).
    üëΩ –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü feature_3  ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π ride_duration, –∫–æ—Ç–æ—Ä–æ–µ –±–æ–ª—å—à–µ 40 –¥–ª—è –∫–∞–∂–¥–æ–π –º–∞—à–∏–Ω—ã (car_id).
    üëæ –î–æ–±–∞–≤—å—Ç–µ —Å—Ç–æ–ª–±–µ—Ü feature_4 ‚Äî —Å—É–º–º—É –∑–Ω–∞—á–µ–Ω–∏–π ride_duration, –∫–æ—Ç–æ—Ä–∞—è –±–æ–ª—å—à–µ 40 –¥–ª—è –∫–∞–∂–¥–æ–π –º–∞—à–∏–Ω—ã (car_id).
    –†–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é result.

In [64]:
rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_6.csv')

In [68]:
(rides['ride_duration'] > 40)

0      True
1      True
2      True
3      True
4      True
      ...
95     True
96    False
97    False
98     True
99    False
Name: ride_duration, Length: 100, dtype: bool

In [69]:
rides['feature_1'] = rides.groupby('user_id')['ride_cost'].transform(lambda x: np.percentile(x, 75))
rides['feature_2'] = rides.groupby('user_id')['rating'].transform(lambda x: (x.max() - x.min()) / x.mean())
rides['feature_3'] = rides.groupby('car_id')['ride_duration'].transform(lambda x: (x > 40).sum())
rides['feature_4'] = rides.groupby('car_id')['ride_duration'].transform(lambda x: x[x > 40].sum())

–ò–Ω–¥–µ–∫—Å–æ–º –≤–æ –≤—Å–µ—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö –±—É–¥–µ—Ç user_id.

    üôÇ –ü–µ—Ä–≤–∞—è —Ç–∞–±–ª–∏—Ü–∞: –°–∫–æ–ª—å–∫–æ —Ä–∞–∑ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –±—Ä–∞–ª –º–∞—à–∏–Ω—ã –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ –∫–ª–∞—Å—Å–∞? 
    üôÉ –í—Ç–æ—Ä–∞—è —Ç–∞–±–ª–∏—Ü–∞: –ö–∞–∫–∏–º–∏ –±—ã–ª–∏ –º–∏–Ω–∏–º–∞–ª—å–Ω–∞—è, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è, —Å—Ä–µ–¥–Ω—è—è –¥–∏—Å—Ç–∞–Ω—Ü–∏—è –∏ —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è?
    üôÇ –¢—Ä–µ—Ç—å—è —Ç–∞–±–ª–∏—Ü–∞: –°–∫–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –º–∞—à–∏–Ω –±—Ä–∞–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –≤ –∞—Ä–µ–Ω–¥—É?
    –î–∞–ª–µ–µ —Å–æ–µ–¥–∏–Ω—è–µ–º –ø–æ –∫–ª—é—á—É (—Å–º–µ—Ä–∂–∏–≤–∞–µ–º) –≤—Å–µ 3 —Ç–∞–±–ª–∏—Ü—ã –≤ –æ–¥–Ω—É.
    –ò –≤ –∫–æ–Ω—Ü–µ –¥–æ–±–∞–≤–ª—è–µ–º –±–∏–Ω–∞—Ä–Ω—ã–π —Ç–∞—Ä–≥–µ—Ç –≤ —Å—Ç–æ–ª–±–µ—Ü crazy_driver: –Ø–≤–ª—è–µ—Ç—Å—è –ª–∏ –Ω–∞—à –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –±–µ–∑—É–º–Ω—ã–º –≥–æ–Ω—â–∏–∫–æ–º? –ï—Å–ª–∏ –µ–≥–æ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è —Å–∫–æ—Ä–æ—Å—Ç—å –ø—Ä–µ–≤—ã—à–∞–ª–∞ 100 –∫–º/—á, —Ç–æ 1; –µ—Å–ª–∏ –Ω–µ –ø—Ä–µ–≤—ã—à–∞–ª–∞, —Ç–æ 0.

–†–µ–∑—É–ª—å—Ç–∞—Ç —Ä–µ—à–µ–Ω–∏—è –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é result.

In [147]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_7.csv')

In [148]:
df.sample(2)

,user_id,car_type,car_id,distance,ride_cost,speed_max,model
24,S51575404w,economy,A-1049127W,398.859961,257,69.0,Hyundai Solaris
16,T73601037O,economy,A-1049127W,121.231506,46,83.0,Hyundai Solaris

In [160]:
df1 = pd.pivot_table(
    df, index='user_id', columns='car_type', values='car_id', aggfunc='count', fill_value=0, 
)
df1.columns = [f'{i}_count' for i in df1.columns]

df2 = pd.pivot_table(
    df, index='user_id', values=['distance', 'ride_cost'], aggfunc=['min', 'max', 'mean'],  
)
df2.columns = [f'{i[1]}_{i[0]}' for i in df2.columns]

df3 = pd.pivot_table(
    df, index='user_id', values=['car_id'], aggfunc=lambda x: x.nunique()
)
df3.columns = [f'{i}_nunique' for i in df3.columns]

df4 = pd.pivot_table(
    df, index='user_id', values=['speed_max'], aggfunc=lambda x: int(x.max() > 100)
)
df4.columns = ['crazy_driver']
result = df1.merge(df2, on='user_id').merge(df3, on='user_id').merge(df4, on='user_id')
result = result.reset_index()
result[['economy_count',	'standart_count']] = result[['economy_count',	'standart_count']].astype(float)

In [157]:
# –í ans –∑–∞–ø–∏—Å–∞–Ω –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –æ—Ç–≤–µ—Ç
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_7_ans.csv')